@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="/signalr/hubs"></script>
}

<div data-ng-controller="chatController">
 
    <div class="row">
        <div id="ChatControlsContainer" class="col-sm-12">
            <form data-ng-submit="sendMessage(name, messageToSend)">
                <div>
                    <h3>Namn</h3>
                    <input type="text" data-ng-model="name" style="width: 100%" />
                </div>
                <div>
                    <h3>Meddelande</h3>
                    <input type="text" data-ng-model="messageToSend" style="width: 100%;">
                </div>
                <button>Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="MessagesContainer" class="col-sm-12">
            <p data-ng-repeat="message in messages track by $index">
                {{message}}
            </p>
        </div>
    </div>
</div>